* {
  font-family: 'Source Serif Pro', serif;
}

.color-container {
  margin: 20px;
  height: 100px;
  padding-top: 50px;
  display: inline-block;
  border-radius: 5px;
  border-width: 3px;
  border-color: #d6d8d7;
  box-shadow: 0px 2px 3px grey;
}

.color-container button {
  width: 160px;
  height: 35px;
  font-size: 14pt;
  margin: 75px 0 0 0;
  text-align: left;
  padding-left: 20px;
  color: #363c3c;
  background-color: #fefffe;
  border-radius: 0 0 4px 4px;
  border-width: 1.5px;
  border-color: #d6d8d7;
}

#all-colors-container {
  max-width: 800px;
  padding: 0 70px;
  margin: 20px auto 0px auto;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  background-color: #363c3c;
  height: 60px;
  box-shadow: 0px 1px 2px grey;
}

#nav-logo {
  margin: 10px;
  padding-top: 2px;
  padding-left: 5px;
  width: 35px;
  height: 35px;
}

#nav-logo a {
  background-color: #363c3c;
  height: 0px;
}

#app-flex {
  display: flex;
}

#sidebar-container {
  background-color: #d6d8d7;
  min-width: 250px;
  min-height: 100%;
  box-shadow: 0px 2px 3px grey;
}

#sidebar-container p {
  background-color: #d6d8d7;
}

#back-to-colors {
  margin-top: 50px;
}

#random-button {
  width: 180px;
  height: 45px;
  border-radius: 10px;
  border-color: #363c3c;
  font-size: 13pt;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
  outline: 0;
  cursor: pointer;
}

#sidebar-colors button {
  margin: 0px 20px;
  background-color: #d6d8d7;
  font-size: 15pt;
  color: #363c3c;
  text-decoration: none;
  outline: 0;
  border-color: #d6d8d7;
}

.sidebar-color-links {
  margin-top: 15px;
}

#sidebar-colors button:hover {
  font-weight: 900;
  cursor: pointer;
}

#search-bar {
  width: 210px;
  height: 29px;
  color: #808080;
  font-size: 12pt;
  border-radius: 5px;
  border-color: #363c3c;
  background-color: #fefffe;
  margin-right: 25px;
  margin-top: 11px;
  text-align: left;
  padding-top: 8px;
  padding-left: 10px;
}

#category-title {
  text-align: center;
  margin: 15px 0 0 0;
}

.wrapper {
  display: flex;
  justify-content: center;
}
.wrapper button {
  width: 200px;
  height: 40px;
  font-size: 15pt;
  color: #363c3c;
  border-radius: 10px;
  border-color: #363c3c;
}

#single-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 45px 60px 45px 60px;
  border: solid #363c3c;
  border-width: 1px;
  border-radius: 10px;
}

#single-view-container h1 {
  min-width: 340px;
  min-height: 410px;
  margin: 0;
  border-radius: 10px 10px 0 0;
}

#single-view-container p {
  text-align: left;
  margin: 20px 0px;
  font-size: 16pt;
  margin: 20px 50px;
}

#span-page {
  width: 100%;
}

#page-numbers {
  display: flex;
  justify-content: center;
  margin: 0;
}

.ind-page-nums {
  margin: 15px 2px;
  background-color: #fefffe;
  border-color: #fefffe;
  color: #363c3c;
  font-size: 15pt;
  cursor: pointer;
  outline: 0;
}

.pointer-cursor:hover {
  cursor: pointer;
  margin: 0;
}

.loading-img {
  width: 600px;
  height: 600px;
  margin-left: 350px;
  margin-top: 150px;
}

#all-category-container {
  max-width: 800px;
  margin: 23px auto;
}
