* {
  font-family: 'Source Serif Pro', serif;
}

.color-container {
  margin: 25px;
  height: 150px;
  padding-top: 50px;
  display: inline-block;
  border-radius: 5px;
  border-width: 3px;
  border-color: #d6d8d7;
}

.color-container button {
  width: 180px;
  height: 40px;
  font-size: 14pt;
  margin: 115px 0 0 0;
  text-align: left;
  padding-left: 20px;
  color: #363c3c;
  background-color: #fefffe;
  border-radius: 0 0 4px 4px;
  border-width: 1.5px;
  border-color: #d6d8d7;
}

#all-colors-container {
  margin: 50px 25px;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  background-color: #363c3c;
  height: 82px;
}

#nav-logo {
  margin: 10px;
  padding-top: 10px;
  padding-left: 10px;
  width: 42px;
  height: 42px;
}

#nav-logo a {
  background-color: #363c3c;
  height: 0px;
}

#app-flex {
  display: flex;
}

#sidebar-container {
  background-color: #d6d8d7;
  min-width: 250px;
  min-height: 100%;
}

#sidebar-container p {
  background-color: #d6d8d7;
}

#back-to-colors {
  margin-top: 50px;
}

#random-button {
  width: 205px;
  height: 53px;
  border-radius: 10px;
  border-color: #363c3c;
  font-size: 15pt;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 900;
  outline: 0;
  cursor: pointer;
}

#sidebar-colors a {
  margin: 23px;
  background-color: #d6d8d7;
  font-size: 15pt;
  color: #363c3c;
  text-decoration: none;
}

.sidebar-color-links {
  margin-top: 30px;
}

#sidebar-colors a:hover {
  font-weight: 900;
}

#search-bar {
  width: 250px;
  height: 30px;
  color: #808080;
  font-size: 13pt;
  border-radius: 3px;
  border-color: #363c3c;
  background-color: #fefffe;
  margin-right: 25px;
  margin-top: 18px;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
}

#category-title {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}
.wrapper button {
  width: 200px;
  height: 40px;
  font-size: 15pt;
  color: #363c3c;
  border-radius: 10px;
  border-color: #363c3c;
}

#single-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 55px 30px;
  border: solid #363c3c;
  border-width: 1px;
  border-radius: 10px;
}

#single-view-container h1 {
  min-width: 500px;
  min-height: 580px;
  margin: 0;
  border-radius: 10px 10px 0 0;
}

#single-view-container p {
  text-align: left;
  margin: 10px 0px;
  font-size: 16pt;
  margin: 20px 50px;
}

#span-page {
  width: 100%;
}

#page-numbers {
  display: flex;
  justify-content: center;
}

.ind-page-nums {
  margin: 10px;
  background-color: #fefffe;
  border-color: #fefffe;
  color: #363c3c;
  font-size: 15pt;
  cursor: pointer;
  outline: 0;
}

.pointer-cursor:hover {
  cursor: pointer;
  margin: 0;
}

.loading-img {
  width: 600px;
  height: 600px;
  margin-left: 150px;
  margin-top: 150px;
}
